.contacto-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.contacto-content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-selector {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-item {
    flex: 1; 
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    text-align: center; 
}
.selector-item.selected {
    border: 1px solid #000;
    border-bottom: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
    border-top: none;
    padding: 20px;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.form-item {
    margin: 15px 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-form .form-item {
    width: 30%;
}

.midle-form .form-item {
    width: 50%;
}

.form-item .input-container {
    width: 100%;
}

input {
    width: 100%;
    height: 30px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-top: 20px;
}

.input-container::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--primary-color);
    margin-top: 5px;
}

span {
    color: var(--primary-color);
    font-size: 20px;
}

.bottom-form {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.bottom-form label {
    width: 90%;
    margin-left: 15px;
}

textarea {
    min-height: 140px;
    width: 90%;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    border-radius: 8px;
    border-color: var(--primary-color);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.input-file {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-file input button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    margin: 30px auto;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    margin: 30px auto;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-grey);
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    .bottom-form {
        margin-top: 30px;
    }

    .top-form .form-item,
    .midle-form .form-item {
        width: 100%;
    }
}

