.industrias-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.industrias-content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;    
}

.industrias-item {
    width: 40%;
    max-width: 40%;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .industrias-item {
        width: 98%;
        max-width: 98%;
    }
}

.empresas-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto; 
}
.empresas-main-title {
    margin: 50px auto;
    padding: 0 15px;
}
