<main>
    <article>
        <div class="main-title">
            <h1>{{'dador-title'|translate}}</h1>
        </div>
        <figure>
            <img src="../../../../assets/images/blog/dador-carga.jpg">
        </figure>
        <section class="intro-text">
            <p>
                {{'dador-intro-p1'|translate}}
            </p>
            <p>
                {{'dador-intro-p2'|translate}}
            </p>
        </section>
        
        <section>
            <h1>{{'dador-roles-title'|translate}}</h1>
            <h2>{{'dador-conex-title'|translate}}</h2>
            <p>
                {{'dador-conex-p1'|translate}}
            </p>
            <p>
                {{'dador-conex-p2'|translate}}
            </p>
            <p>
                {{'dador-conex-p3'|translate}}
            </p>
            <p>
                {{'dador-conex-p4'|translate}}
            </p>
            <h2>{{'dador-negoc-title'|translate}}</h2>
            <p>
                {{'dador-negoc-p1'|translate}}
            </p>
            <p>
                {{'dador-negoc-p2'|translate}} 
            </p>
            <p>
                {{'dador-negoc-p3'|translate}}
            </p>
            <h2>{{'dador-gestion-title'|translate}}</h2>
            <p>
                {{'dador-gestion-p1'|translate}} 
            </p>
            <p>
                {{'dador-gestion-p2'|translate}} 
            </p>
            <h2>{{'dador-resol-title'|translate}}</h2>
            <p>
                {{'dador-resol-p1'|translate}}
            </p>
            <p>
                {{'dador-resol-p2'|translate}} 
            </p>
            <p>
                {{'dador-resol-p3'|translate}}
            </p>
        </section>
    
        <section>
            <h1>{{'dador-importancia-title'|translate}}</h1>
            <p>
                {{'dador-importancia-p1'|translate}}
            </p>
            <p>
                {{'dador-importancia-p2'|translate}}
            </p>
            <p>
                {{'dador-importancia-p3'|translate}}
            </p>
        </section>
    
    </article>
</main>
