.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}

.blog-content {
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-main-title {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.blog-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
}

.blog-item {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; /* Añadido para ocultar cualquier contenido que exceda el contenedor */
}

.blog-img {
    width: 100%;
    height: 20vh;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden; /* Añadido para ocultar cualquier contenido que exceda el contenedor */
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-info {
    padding: 20px; /* Ajusta según sea necesario */
    flex-grow: 1; /* Hace que la sección de información ocupe el espacio restante */
    display: flex;
    flex-direction: column;
}

.blog-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    word-wrap: break-word; /* Rompe palabras para ajustarse al contenedor */
}

.blog-info p {
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word; /* Rompe palabras para ajustarse al contenedor */
}

.leer-mas {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-top: 20px; /* Mueve el enlace "Leer más" hacia la parte inferior */
}

.leer-mas:hover {
    color: #2980b9;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    margin: 20px 0 0;
}

@media (max-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 35px;
    }
}

@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}