<div class="blog-container">
    
    <div class="blog-content">
        <div class="divider"></div>
        <div class="blog-main-title">
            <h1>{{ 'blog-title' | translate }}</h1>
        </div>
        <div class="blog-grid">
            <div class="blog-item" *ngFor="let blog of blogs">
                <div class="blog-img">
                    <img [src]="blog.imageSrc">
                </div>
                <div class="blog-info">
                    <h3>
                        <a [href]="blog.link">{{ blog.title | translate }}</a>
                    </h3>
                    <p>{{ blog.description | translate }}</p>
                    <a class="leer-mas" [href]="blog.link">{{ 'blog-btn' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
Para cuando traduzcas:
<div class="blog-container">
    <div class="blog-content">
        <div class="divider"></div>
        <div class="blog-main-title">
            <h1>{{'blog-title'|translate}}</h1>
        </div>
        <div class="blog-grid">
            <div class="blog-item">
                
                    <div class="blog-img">
                        <img src="../../../../assets/images/camion-1.jpeg">
                    </div>
                <div class="blog-info">
                    <h3>
                        <a href="/blog">blog title</a>
                    </h3>
                    <p>{{'blog1-p'|translate}}</p>
                    <a class="leer-mas" href="/blog">{{'blog-btn'|translate}}</a>
                </div>
            </div>
            
            <div class="blog-item">
                
                    <div class="blog-img">
                        <img src="../../../../assets/images/camion-2.jpeg">
                    </div>
                <div class="blog-info">
                    <h3>
                        <a href="/blog">blog title</a>
                    </h3>
                    <p>{{'blog2-p'|translate}}</p>
                    <a class="leer-mas" href="/blog">{{'blog-btn'|translate}}</a>
                </div>
            </div>

            <div class="blog-item">
                <div class="blog-img">
                    <img src="../../../../assets/images/camion-3.jpeg">
                </div>
                <div class="blog-info">
                    <h3>
                        <a href="/blog">blog title</a>
                    </h3>
                    <p>{{'blog3-p'|translate}}</p>
                    <a class="leer-mas" href="/blog">{{'blog-btn'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>


-->