<main>
    <article>
        <div class="main-title">
            <h1>{{'ter-title'|translate}}</h1>
        </div>
        <figure>
            <img src="../../../../assets/images/blog/tercerizar-cargas.jpg">
        </figure>
        <section class="intro-text">
            <p>
                {{'ter-intro-p'|translate}}
            </p>
        </section>

        <section>
            <h1>{{'ter-implic-t'|translate}}</h1>
            <p>
                {{'ter-implic-p1'|translate}}
            </p>
            <p>{{'ter-implic-p2'|translate}}</p>
        </section>

        <section>
            <h1>{{'ter-enfoq-t'|translate}}</h1>
            <p>
                {{'ter-enfoq-p'|translate}}
            </p>
        </section>

        <section>
            <h1>{{'ter-red-t'|translate}}</h1>
            <p>{{'ter-red-p'|translate}}</p>
        </section>

        <section>
            <h1>{{'ter-flex-t'|translate}}</h1>
            <p>
                {{'ter-flex-p1'|translate}}
            </p>
            <p>
                {{'ter-flex-p2'|translate}}
            </p>
        </section>

        <section>
            <h1>{{'ter-riesgo-t'|translate}}</h1>
            <p>{{'ter-riesgo-p'|translate}}</p>
        </section>

        <section>
            <h1>{{'ter-mejora-t'|translate}}</h1>
            <p>{{'ter-mejora-p1'|translate}}</p>
            <p>{{'ter-mejora-p2'|translate}} 
            </p>
            <p>
                {{'ter-mejora-p3'|translate}}
            </p>
        </section>
    </article>
</main>
