<div class="container">
    <div class="content">
        <div class="qr-container">
            <div class="qr-title">
                <h2>¿Queres enterarte de nuestros beneficios que ofrecemos a los transportistas tercerizados?</h2>
            </div>
            <div class="qr">
                <img class="qr-image" src="../../../../assets/images/qr-image-example.jpg">
            </div>
        </div>
        <div class="form-container">
            <div class="form-title">
                <h2>Cargá tus datos y nos ponemos en contacto</h2>
            </div>
            <form [formGroup]="datosViaje" (ngSubmit)="submitForm()">
            <div class="form">
                <div class="first-part">
                <div class="input-form">
                <span class="span-text">Nombre</span>
                <input type="text" formControlName="nombre" placeholder="Nombre"></div>
                <div class="input-form">
                <span class="span-text">Apellido</span>
                <input type="text" formControlName="apellido" placeholder="Apellido">
                </div>
            
            </div>
            <div class="first-part">
                <div class="input-form">
                <span class="span-text">Transporte</span>
                <input type="text" formControlName="transporte" placeholder="Transporte"></div>
                <div class="input-form">
                <span class="span-text">Teléfono</span>
                <input type="text" formControlName="telefono" placeholder="351123456"></div>
            </div>
    
                <div class="input-form-message">
                <span class="span-text">Mensaje</span>
                <textarea name="mensaje" id="mensaje" cols="10" rows="6" formControlName="mensaje" ></textarea>
                </div>
            </div>
            <button type="submit" class="btn">Enviar</button> 
        </form>
        </div>
    </div>
</div>
