.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.image-card {
    width: 50%;
    flex-grow: 1;
    position: relative;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title-card {
    padding: 15px;
    text-align: center;
}

.info-card {
    text-align: center;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    padding: 0 20px;
}

.info-card > div {
    overflow: hidden;
    padding: 0 20px;
}

.arrow-container {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container img {
    transform: scaleY(-1);
    transition: 0.5s;
}


@media (hover:hover) {
    .card-container:hover .info-card {
        grid-template-rows: 1fr;
        height: auto;
        padding: 20px;
    }

    .card-container:hover .arrow-container img {
        transform: scaleY(1);
    }
}

@media (hover: none) {
    .card-container.hovered .info-card {
        grid-template-rows: 1fr;
        height: auto;
        padding: 20px;
    }

    .card-container.hovered .arrow-container img {
        transform: scaleY(1);
    }
}