
<app-portada [portadaInfo]="portadaData"></app-portada>


<div class="servicios-section">
    <div class="servicios-content">
        <!-------------------------------------------->
        <div class="servicios-row">
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[0]"></app-service-card>
            </div>
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[1]"></app-service-card>
            </div>

            
        </div>
        
        <!---------------------------------------------------------------------->
        <div class="servicios-row">
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[2]"></app-service-card>
            </div>
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[3]"></app-service-card>
            </div>

            
        </div>

        <div class="servicios-row"></div>
        <div class="servicios-item">
            <app-service-card [cardInfo]="serviceData[4]"></app-service-card>
        </div>
    </div>
</div>

<div class="elegirnos-section">
    <div class="elegirnos-content">
        <h1>{{'servicios-elegirnos-titulo'|translate}}</h1>
        <div class="elegirnos-flex">

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono trayectoria.png">											
                </div>
                <div class="elegirnos-title">
                    <h2>{{'servicios-trayectoria'|translate}}</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono compromiso.png" class="">											
                </div>
                <div class="elegirnos-title">
                    <h2>{{'servicios-compromiso'|translate}}</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/seg-satelital.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>{{'servicios-seguimiento'|translate}}</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono ser pers.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>{{'servicios-personalizado'|translate}}</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono medioambiente.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>{{'servicios-ambiente'|translate}}</h2>
                </div>
            </div>

        </div>
    </div>
</div>
