.servicios-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.servicios-content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.servicios-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.servicios-item {
    width: 48%;
    max-width: 48%;
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .servicios-item {
        width: 98%;
        max-width: 98%;
    }
}