
<app-portada [portadaInfo]="portadaData"></app-portada>


<div class="servicios-section">
    <div class="servicios-content">
        <!-------------------------------------------->
        <div class="servicios-row">
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[0]"></app-service-card>
            </div>
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[1]"></app-service-card>
            </div>

            
        </div>
        
        <!---------------------------------------------------------------------->
        <div class="servicios-row">
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[2]"></app-service-card>
            </div>
            
            <div class="servicios-item">
                <app-service-card [cardInfo]="serviceData[3]"></app-service-card>
            </div>

            
        </div>

    </div>
</div>

<div class="elegirnos-section">
    <div class="elegirnos-content">
        <h1>Porque con nostros</h1>
        <div class="elegirnos-flex">

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono trayectoria.png">											
                </div>
                <div class="elegirnos-title">
                    <h2>Trayectoria</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono compromiso2.png" class="">											
                </div>
                <div class="elegirnos-title">
                    <h2>Compromiso con el cliente</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/seg-satelital.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>Seguimiento satelital</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono ser pers.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>Servicio Personalizado</h2>
                </div>
            </div>

            <div class="elegirnos-item">
                <div class="elegirnos-image">
                    <img src="../../../../assets/logos/servicios-sec2/icono medioambiente.png">										
                </div>
                <div class="elegirnos-title">
                    <h2>Compromiso con el Medioambiente</h2>
                </div>
            </div>

        </div>
    </div>
</div>
