.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first-nav {
  width: 100%;
  height: 8.8vh;
}

.top-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4.6vh;
  background-color: #f1f1f1;
}

.bottom-line {
  text-align: center;
  padding: 0 5%;
  background-color: #f7f7f7; 
  border-bottom: 0.1px solid #f1f1f1; 
}

.language-item{
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.language-item a span{
  font-size: 0.9rem;
}

.language-item:hover,
.language-item.active{
  background-color: var(--primary-lightgray);
}
.language-item.active a span{
  font-weight: 500;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.8vh;
}

.language-container {
  margin-right: 20px;
}

.language-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.language-item {
  font-size: 1.8vh;
  color: var(--primary-color);
}
.language-item a{
  padding: 0 10px;
  color: var(--primary-color);
}

.logo img {
  width: auto; 
  height: 100%; 
}

.logo img {
  max-width: 260px;
  height: auto; 
}  

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1em;
}
  
.menu-item {
  font-size: 16px;
  padding: 2px 10px;
  position: relative;
  color: var(--primary-color);
  display: inline-block;

  &::after {
    width: 0;
    height: 3px;
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -10%;
    cursor: pointer;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
  }
}
  
.menu-link {
  text-decoration: none;
  color: var(--primary-color);
}

.toggle-button {
  position: relative;
  cursor: pointer;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  color: var(--primary-color);
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
}
.side-menu {
  position: fixed;
  top: 13.4vh;
  height: 90vh;
  width: 70%; 
  background-color: #f8f9fa; 
  padding: 20px; 
  z-index: 1;
  display: none; 
  border-right: 0.5px solid #f1f1f1;
  border-top: 0.5px solid #f1f1f1;
  transition: transform 0.3s ;
  transform: translateX(-100%); 
}

.side-menu.active {
  transform: translateX(0); 
}
@media screen and (max-width:1024px){
      
    .logo img {
      max-width: 200px; 
      height: auto; 
    }  
}

@media screen and (max-width:768px){
  .menu-container {
    display: none;
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.75);
  }
  .toggle-button {
    display: flex;
  }
  .side-menu.active {
    display: flex; 
  }
  .toggle-list{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .toggle-item {
    font-size: 16px;
    padding: 15px 10px 2px;
    position: relative;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    width: 100%;
  
    &::after {
      width: 0;
      height: 2px;
      content: "";
      background-color: var(--primary-color);
      position: absolute;
      left: 0; 
      bottom: -10%;
      cursor: pointer;
      transition: 0.5s;
    }
  
    &:hover::after {
      width: 100%; 
    }
  }
  .toggle-link {
    text-decoration: none;
    color: var(--primary-color);
    width: 100%;
  }
}

@media screen and (max-width:430px){
  .logo img {
    max-width: 160px; 
  } 
}
