<div class="icono">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=%2B543518502362&data=ARChz3k90nJ4C3ZMvGujdTmRDvmUqNm5CWAwdA4GIvgenNPgoiYjdVd0WvZ094Ilj7mIraW1ICZB-CzrCJYEQqwXTf2n92A2rJ8ZB0a77FO9dbh4FgvIxT5DbjQVwAEdr9JwhpvkRRko2jBAA8uJBkAqNQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR2QlmLUH68TX4PiPt3SXOzahnXq_E6RdqZT7VGlk5MojyRHVFIh4UVkTdg"
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div class="float-text" id="floatText">¡Contáctanos por WhatsApp!</div>
</div>

