.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.blog-content {
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-main-title {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.blog-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
}

.blog-item {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
}

.blog-img {
    width: 100%;
    height: 20vh;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden; 
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-info {
    padding: 20px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.blog-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    word-wrap: break-word;
    color: var(--primary-color);
}

.blog-info h3:hover {
    text-decoration: underline;
}

.blog-info p {
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word; 
}

.leer-mas {
    background-color: var(--primary-color);
    color: var(--primary-white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-top: 20px; 
    padding: 5px;
    width: fit-content;
    font-size: 0.9rem;
    font-weight: 400;
}

.leer-mas:hover {
    background-color: #2980b9;
}
.leer-mas span {
    margin: 2px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    margin: 20px 0 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    margin-top: 50px;
}

.btn:hover {
    background-color: #2980b9;
}


@media (max-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 35px;
    }
}

@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
}
@media (max-width: 430px) {
    .blog-grid {
        width: 100%;
    }
}