
.blog-item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
    min-height: 480px;
}

.blog-item-content {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    width: 50%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    color: black;
    text-align: center;
}

.info-container h2{
    font-size: 1.5rem;
}
.info-container p{
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}
a {
    color: var(--primary-white);
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 1.6rem;
}

.reverse {
    margin-top: 0;
    margin-bottom: 100px;
    .info-container {
        order: -1;
    }
}

@media screen and (max-width:1024px){
    .info-container h2{
        font-size: 1.3rem;
    }
    .info-container p{
        line-height: 1rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width:768px){
    .blog-item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-container {
        width: 100%;
        height: 30vh;
    }
    .info-container {
        width: 100%;
        height: auto;
    }
    .reverse {
        .info-container {
            order: 1;
        }
    }
}
@media screen and (max-width:430px){
    .info-container {
        padding: 1rem;
    }
    .info-container h2{
        font-size: 1.2rem;
    }
    .info-container p{
        font-size: 0.9rem;
    }
}