.introduccion, .mision, .valores {
    width: 100%;
    min-height: 0;
    padding: 0 1rem;
}

.grid-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.grid-colum {
    width: 50%;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

//cambiar valores
.text-box .text-wrap {
    max-width: 530px;
    padding: 80px 1rem;
    height: 100%;
}

.text-box p, .text-box ul {
    font-size: 17px;
    line-height: 24px;
}

//cambiar valores
h2.info-title {
    font-size: 29px;
    font-weight: 700;
    line-height: 32px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: -0.01rem;
    margin-bottom: 0.5rem;
}

.text-wrap  p:first-of-type {
    margin-top: 32px;
    margin-bottom: 32px;
}

.text-wrap p{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 2rem;
}

.lists-container {
    display: flex;
    justify-content: space-between;
}

ul.lista-iconos {
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 1rem;
}

ul.lista-iconos li {
    padding: 4px 0;
    position: relative;
    color: #000;
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.lista-iconos li img {
    margin-right: 8px;
    width: 16px;  /* Ajusta el ancho según sea necesario */
    height: 16px;
}

.gray-bg {
    background-color: #F8F8F8;
}

.blue-bg {
    background-color: var(--primary-color);
}
@media screen and (max-width: 1024px) {
    .grid-content {
        flex-direction: column;
    }
    .grid-colum {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .lists-container {
        flex-direction: column;
    }
    ul.lista-iconos {
        margin: 0;
    }
}
//----------------------------------------------------------------------------------------------

.mision {
    color: var(--primary-white);
}
.mision-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%;
}

.mision-item {
    display: flex;
    align-items: flex-start;
    gap: 38px;
    padding: 1.2rem;
}

.mision-item h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.vision {
    padding-top: 78px;
}

.mision-photo {
    background: url(../../../../assets/images/camion-1.jpeg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 500px;
}
@media screen and (max-width: 1024px) {
    .grid-content {
        flex-direction: column;
    }
    .grid-colum {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .mision-item {
        flex-direction: column;
    }
}
//----------------------------------------------------------------------------------------------
.valores {
    padding-top: 100px;
    padding-bottom: 100px;
}

.valores-container {
    max-width: 1200px;
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.valores-header {
    padding-bottom: 14px;
    display: block;
    box-sizing: border-box;
    max-width: 100%; /* Ajusta según sea necesario */
    overflow: hidden;

    h1 {
        font-size: clamp(1.8rem, 5vw, 2.7rem);
        line-height: 2.7rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
        letter-spacing: -1.2px;
        max-width: 100%; /* Ajusta según sea necesario */
        overflow: hidden;
        word-wrap: break-word;
    }

    .divisor {
        display: inline-block;
        height: 3px;
        width: 70px;
        background-color: var(--primary-color);
        margin-top: 4px;
        margin-bottom: 15px;
    }
}

.valores-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.valores-item {
    margin-bottom: 24px;
    width: 33.3333333333%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    min-height: 0;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.valores-item .wrap {
    background-color: #F8F8F8;
    border-left: 6px solid var(--primary-color);
    border-radius: 7px;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.valores-item .wrap span.item-title {
    display: block;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.7rem;
    margin-top: -6px;
    padding-right: 10px;
    color: var(--primary-grey);
    word-wrap: break-word;
    max-width: 100%;
}

.valores-item .wrap .item-text {
    flex-grow: 1;
}

.valores-item .wrap p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 24px;
}

@media screen and (max-width: 1100px) {
    .valores-item {
        width: 50%;
    }
    .valores {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .valores-item {
        padding: 0;
        width: 100%;
        max-width: 300px;
    }
}
