<app-portada [portadaInfo]="portadaData"></app-portada>

<section class="introduccion">
    <div class="grid-content">
        <div class="grid-colum text-box">
            <div class="text-wrap">
                <h2 class="info-title">Somos Dossin</h2>
                <p>
                    Dossin, es una empresa joven y dinámica, nació en Córdoba de la visión futurista y el espíritu emprendedor de dos fundadores apasionados por los desafíos. Desde nuestros inicios, nos propusimos ofrecer soluciones innovadoras en el amplio sector de la logística. Lo que comenzó como una idea se convirtió en una realidad, definiendo nuestra exitosa trayectoria.
                </p>
                <p>
                    Destacamos por nuestro enfoque emprendedor, comprometidos con la transformación y mejora continua en la industria logística. En Dossin, valoramos las relaciones a largo plazo y estamos listos para enfrentar los desafíos futuros con determinación y creatividad.
                </p>
            </div>
        </div>

        <div class="grid-colum text-box gray-bg">
            <div class="text-wrap">
                <p>
                    Nos comprometemos con la puntualidad y la seguridad en cada envío, proporcionando servicios logísticos confiables y satisfacción del cliente. Eleginos como tus proveedores claves de transporte, donde la excelencia es nuestro estándar.
                </p>
                
                <p>En Dossin nuestros valores y compromison son con:</p>
                
                <div class="lists-container">
                    <ul class="lista-iconos">
                        <li><img src="../../../../assets/logos/tilde.png" alt="Tilde"> Nuestros Trabajadores</li>
                        <li><img src="../../../../assets/logos/tilde.png" alt="Tilde"> Nuestros Clientes</li>
                        <li><img src="../../../../assets/logos/tilde.png" alt="Tilde"> La Mejora Continua</li>
                    </ul>
                    <ul class="lista-iconos">
                        <li><img src="../../../../assets/logos/tilde.png" alt="Tilde"> El Medio Ambiente</li>
                        <li><img src="../../../../assets/logos/tilde.png" alt="Tilde"> La Sociedad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!----------------------------------------------------------------------------------------------------->

<section class="mision">
    <div class="grid-content">
        <div class="grid-colum text-box blue-bg" id="mision">
            <div class="mision-content">
                <div data-aos="fade-right" data-aos-delay="100" data-aos-duration="500" class="mision-item">
                    <img src="../../../../assets/logos/mision-icon.png" alt="Misión">
                    <div>
                        <h4 class="ttu">Misión</h4>
                        <p>
                                    Enfocamos nuestros esfuerzos en brindar soluciones logísticas y de transporte por carretera que sean eficientes y se ajusten a las necesidades de nuestros clientes. Nos comprometemos a ofrecer un servicio integral y personalizado, caracterizado por su calidad y respeto al medio ambiente. Además, buscamos proporcionar a nuestros empleados oportunidades para su desarrollo tanto profesional como personal, fortaleciendo así nuestro compromiso con el crecimiento conjunto.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-delay="400" data-aos-duration="500" class="vision mision-item" id="vision">
                    <img src="../../../../assets/logos/vision-icon.png" alt="Visión">
                    <div>
                        <h4 class="ttu">Visión</h4>
                        <p>
                        Aspiramos a ser una empresa líder y en constante crecimiento en el servicio logístico y de transporte por carretera. Nos diferenciamos al ofrecer servicios de calidad que marcan la diferencia a través de la mejora continua y la evolución constante. Contribuimos al desarrollo y progreso social, contando con un equipo humano altamente capacitado y motivado, y manteniendo nuestro compromiso con la sostenibilidad ambiental.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-colum mision-photo">
        </div>
    </div>
 </section>


<!----------------------------------------------------------------------------------------------------->
<section class="valores" id="valores">
    <div class="valores-container">
        <div class="valores-header">
            <h1><span>Nos comprometemos con...</span></h1>
            <div class="divisor"></div>
        </div>
        <div class="valores-list">
            <div class="valores-item ">
                <div class="wrap">
                    <span class="item-title">Nuestros Trabajadores:</span>
                    <div class="item-text">
                        <p>Creemos que nuestros trabajadores son el activo más valioso de Dossin. Nos esforzamos por garantizar igualdad de oportunidades en un ambiente laboral saludable y motivador.</p>
                    </div>
                </div>
            </div>
            <div class="valores-item ">
                <div class="wrap">
                    <span class="item-title">Nuestros Clientes:</span>
                    <div class="item-text">
                        <p>Establecemos relaciones transparentes, honestas y duraderas con nuestros clientes. Priorizamos la seguridad en todos los procesos y la satisfacción del cliente como nuestra máxima prioridad.</p>
                    </div>
                </div>
            </div>
            <div class="valores-item ">
                <div class="wrap">
                    <span class="item-title">La Mejora Continua:</span>
                    <div class="item-text">
                        <p>Damos prioridad a la innovación, investigación y desarrollo de acciones que favorezcan nuestra competitividad, siempre buscando la mejora continua en todos los aspectos de nuestro servicio.</p></div>
                </div>
            </div>
            <div class="valores-item ">
                <div class="wrap">
                    <span class="item-title">El Medio Ambiente:</span>
                    <div class="item-text">
                        <p>Planteamos y aplicamos acciones y planes eficaces que van más allá de cumplir con los requisitos legales, contribuyendo activamente a la preservación del medio ambiente</p>
                    </div>
                </div>
            </div>
            <div class="valores-item ">
                <div class="wrap">
                    <span class="item-title">La Sociedad:</span>
                    <div class="item-text">
                        <p>Realizamos acciones con el propósito de mejorar la cohesión social y fortalecer la cultura en las comunidades donde Dossin tiene sus instalaciones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
