<div class="industrias-section">
    <div class="industrias-content">
        <div class="industrias-item">
            <app-service-card [cardInfo]="industriaData[0]"></app-service-card>
        </div>
        
        <div class="industrias-item">
            <app-service-card [cardInfo]="industriaData[1]"></app-service-card>
        </div>
        
        <div class="industrias-item">
            <app-service-card [cardInfo]="industriaData[2]"></app-service-card>
        </div>
        
        <div class="industrias-item">
            <app-service-card [cardInfo]="industriaData[3]"></app-service-card>
        </div>
        
        <div class="industrias-item">
            <app-service-card [cardInfo]="industriaData[4]"></app-service-card>
        </div>
    </div>
</div>