<div class="servicios-section">
    <div class="servicios-content">
        <div class="servicios-item">
            <app-service-card [cardInfo]="industriaData[0]"></app-service-card>
        </div>
        
        <div class="servicios-item">
            <app-service-card [cardInfo]="industriaData[1]"></app-service-card>
        </div>
        
        <div class="servicios-item">
            <app-service-card [cardInfo]="industriaData[2]"></app-service-card>
        </div>
        
        <div class="servicios-item">
            <app-service-card [cardInfo]="industriaData[3]"></app-service-card>
        </div>
        
        <div class="servicios-item">
            <app-service-card [cardInfo]="industriaData[3]"></app-service-card>
        </div>
    </div>
</div>