
<app-portada [portadaInfo]="portadaData"></app-portada>



<div class="industrias-section">
    <div class="industrias-content">
        <div class="industrias-item" *ngFor="let card of industriaData; let i = index">
            <app-service-card [cardInfo]="card"></app-service-card>
        </div>
    </div>
</div>

<div class="empresas-section">
    <h1 class="empresas-main-title">Algunos de Nuestros Clientes</h1>
    <app-carrousel-clientes [empresasInfo]="empresasData"></app-carrousel-clientes>
    <!--
        <div class="empresas-content">
        <div class="empresa" *ngFor="let empresa of empresasData; let i = index">
            <div class="empresa-item">
                <div class="empresa-imagen">
                    <img [src]="empresa.empLogo" alt="{{ empresa.empTitle }}">
                </div>
            </div>
        </div>
    </div>
    -->
    
</div>
