.footer-container {
    margin: 100px auto 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: end;
    align-content: end;
    min-width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-white);
}
a {
    color: var(--primary-white);
}

.footer-content {
    max-height: 100%;
    width: 100%;
    height: auto;
    padding: 70px 30px 20px;
    max-width: 1300px;
    margin: 0 auto;
    
    position: relative;
}

.divider {
    width: 80%;
    height: 1px; 
    background-color: var(--primary-white); 
    margin: 20px auto; 
}

.top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: end;
    align-content: end;
}

.title {
    position: relative;
    color: var(--primary-white);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    margin-bottom: -15px;
}


.title h2{
    font-size: 20px;
}

ul {
    padding-left: 0;
}

li {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
.lista {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista li{
    list-style: none;
    margin-bottom: 10px;
}
.lista li a{
    display: inline-block;
}

.lista li a:hover {
    color: #b1b1b1;
}

.lista li a span {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-footer {
    color: var(--primary-color);
    background-color: var(--primary-white);
    padding: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyright-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%; 
}
.copyright-text {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
}
.Copyright {
    font-weight: bold;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {

    .top-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {

    .top-footer {
        grid-template-columns: repeat(1, 1fr);
    }
    .lista li{
        margin-bottom: 15px;
    }
    .bottom-footer {
        grid-template-columns: 1fr; 
        text-align: center; 
    }

    .copyright-footer {
        margin-bottom: 0; 
    }

    .Copyright {
        margin-left: 0;
        margin-top: 10px; 
    }
}

@media screen and (max-width: 430px) {
    .lista li{
        font-size: 14px;
        margin-bottom: 20px;
    }
}