
<div class="footer-container">
    <div class="footer-content">
        <div class="top-footer">
            <div class="column about">
                <div class="title">
                    <h2>{{'footer-sobre'|translate}}</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-about">
                    <li class="item-about">
                        <a (click)="navigateToSection('nosotros', 'mision')">
                            <span>{{'footer-mision'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a (click)="navigateToSection('nosotros', 'vision')">
                            <span>Vision</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a (click)="navigateToSection('nosotros', 'valores')">
                            <span>{{'footer-valores'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/servicios">
                            <span>{{'footer-servicios'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/flota">
                            <span>{{'footer-flota'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/industrias">
                            <span>{{'footer-industrias'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/blog">
                            <span>Blog</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column ayuda">
                <div class="title">
                    <h2>{{'footer-ayudar'|translate}}</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-ayuda">
                    <li class="item-ayuda">
                        <a href="/viajes">
                            <span>{{'footer-sumate'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto/cliente">
                            <span>{{'footer-cliente'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto/proveedor">
                            <span>{{'footer-proveedor'|translate}}</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto/cv">
                            <span>{{'footer-sumate-dossin'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column direcciones">
                <div class="title">
                    <h2>{{'footer-oficina'|translate}}</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-ubicacion">
                    <li class="item-ubicacion">
                        <span>Barrio Cerro de las Rosas - Córdoba</span>
                    </li>
                </ul>

                <div class="title">
                    <h2>{{'footer-base'|translate}}</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-bases">
                    <li class="item-bases">
                        <span>Maipu - Mendoza</span>
                    </li>
                    <li class="item-bases">
                        <span>Rio Tercero - Córdoba</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="bottom-footer">
        <div class="media-icons">
            <a href="https://www.facebook.com/profile.php?id=100091946847427" target="_blank"><i class="fa-brands fa-facebook social-icon"></i></a>
            <a href="https://www.linkedin.com/company/dossin-sas/?viewAsMember=true" target="_blank"><i class="fa-brands fa-linkedin social-icon"></i></a>
            <a href="https://api.whatsapp.com/send?phone=%2B543518502362&data=ARChz3k90nJ4C3ZMvGujdTmRDvmUqNm5CWAwdA4GIvgenNPgoiYjdVd0WvZ094Ilj7mIraW1ICZB-CzrCJYEQqwXTf2n92A2rJ8ZB0a77FO9dbh4FgvIxT5DbjQVwAEdr9JwhpvkRRko2jBAA8uJBkAqNQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR2QlmLUH68TX4PiPt3SXOzahnXq_E6RdqZT7VGlk5MojyRHVFIh4UVkTdg" target="_blank"><i class="fa-brands fa-whatsapp social-icon"></i></a>
        </div>
        <div class="copyright-footer">
            <p class="copyright-text">Copyright &copy; {{ currentYear }} <span class="Copyright">DOSSIN</span> - {{'footer-copyright'|translate}}</p>
        </div>
    </div>
</div>