
<div class="footer-container">
    <div class="footer-content">
        <div class="top-footer">
            <div class="column about">
                <div class="title">
                    <h2>Sobre Dossin</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-about">
                    <li class="item-about">
                        <a href="/nosotros">
                            <span>Mision</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/nosotros">
                            <span>Vision</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/nosotros">
                            <span>Valores</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/servicios">
                            <span>Servicios</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/flota">
                            <span>Flota</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/industrias">
                            <span>Industrias</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="/blog">
                            <span>Blog</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column ayuda">
                <div class="title">
                    <h2>Como te podemos ayudar</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-ayuda">
                    <li class="item-ayuda">
                        <a href="/contacto">
                            <span>Sumate al equipo tercerizados</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto">
                            <span>Quiero ser cliente</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto">
                            <span>Quiero ser proveedor</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="/contacto">
                            <span>Sumate a Dossin</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column direcciones">
                <div class="title">
                    <h2>Oficina Comercial</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-ubicacion">
                    <li class="item-ubicacion">
                        <span>Barrio Cerro de las Rosas - Córdoba</span>
                    </li>
                </ul>

                <div class="title">
                    <h2>Bases Operativas</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-bases">
                    <li class="item-bases">
                        <span>Maipu - Mendoza</span>
                    </li>
                    <li class="item-bases">
                        <span>Rio Tercero - Córdoba</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="bottom-footer">
        <div class="copyright-footer">
            <p class="copyright-text">Copyright &copy; {{ currentYear }} <span class="Copyright">DOSSIN</span> - Todos los derechos reservados.</p>
        </div>
    </div>
</div>