
<div class="footer-container">
    <div class="footer-content">
        <div class="top-footer">
            <div class="column about">
                <div class="title">
                    <h2>Sobre Dossin</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-about">
                    <li class="item-about">
                        <a href="#">
                            <span>Mision</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Vision</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Valores</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Servicios</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Flota</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Industria</span>
                        </a>
                    </li>
                    <li class="item-about">
                        <a href="#">
                            <span>Blog</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column ayuda">
                <div class="title">
                    <h2>Como te podemos ayudar</h2>
                </div>
            
                <div class="divider"></div>
                <ul class="lista lista-ayuda">
                    <li class="item-ayuda">
                        <a href="#">
                            <span>Sumate al equipo tercerizados</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="#">
                            <span>Quiero ser cliente</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="#">
                            <span>Quiero ser proveedor</span>
                        </a>
                    </li>
                    <li class="item-ayuda">
                        <a href="#">
                            <span>Sumate a Dossin</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="column direcciones">
                <div class="title">
                    <h2>Ubicación</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-ubicacion">
                    <li class="item-ubicacion">
                        <a href="#">
                            <span>Córdoba</span>
                        </a>
                    </li>
                    <li class="item-ubicacion">
                        <a href="#">
                            <span>Valle Escondido</span>
                        </a>
                    </li>
                </ul>

                <div class="title">
                    <h2>Bases Operativas</h2>
                </div>

                <div class="divider"></div>

                <ul class="lista lista-bases">
                    <li class="item-bases">
                        <a href="#">
                            <span>Maipu</span>
                        </a>
                    </li>
                    <li class="item-bases">
                        <a href="#">
                            <span>Mendoza</span>
                        </a>
                    </li>
                    <li class="item-bases">
                        <a href="#">
                            <span>Rio Tercero</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="bottom-footer">
        <div class="copyright-footer">
            <p class="copyright-text">Copyright &copy; {{ currentYear }} <span class="Copyright">DOSSIN</span> - Todos los derechos reservados.</p>
        </div>
    </div>
</div>