<main>
    <article>
        <div class="main-title">
            <h1>{{'trp-title'|translate}}</h1>
        </div>
        <figure>
            <img src="../../../../assets/images/blog/transporte-arg.jpg">
        </figure>
        <section class="intro-text">
            <p>{{'trp-intro-p1'|translate}}</p>
            <p>{{'trp-intro-p2'|translate}}</p>
            <p>{{'trp-intro-p3'|translate}}</p>
        </section>

        <section>
            <h1>{{'trp-infra-t'|translate}}</h1>
            <p>{{'trp-infra-p1'|translate}}</p>
            <p>{{'trp-infra-p2'|translate}}</p>
            <p>{{'trp-infra-p3'|translate}}</p>
        </section>

        <section>
            <h1>{{'trp-desafio-t'|translate}}</h1>
            <p>{{'trp-desafio-p1'|translate}}</p>
            <p>{{'trp-desafio-p2'|translate}}</p>
        </section>

        <section>
            <h1>{{'trp-reg-t'|translate}}</h1>
            <p>{{'trp-reg-p'|translate}}</p>
        </section>

        <section>
            <h1>{{'trp-inn-t'|translate}}</h1>
            <p>{{'trp-inn-p1'|translate}}</p>
            <p>{{'trp-inn-p2'|translate}}</p>
        </section>

        <section>
            <h1>{{'trp-per-t'|translate}}</h1>
            <p>
                {{'trp-per-p1'|translate}}
            </p>
            <p>
                {{'trp-per-p2'|translate}}
            </p>
        </section>
    </article>
</main>
