<div class="contenedor">
  <div class="top-line">
    <div class="language-container">
        <ul class="language-list">
          <li class="language-item" [class.active]="selectedLang === 'es'" >
              <a [ngClass]="{'colored': selectedLang === 'es'}" class=""><span  (click)="switchLang('es')" [ngClass]="{'white': selectedLang === 'es'}">ES</span></a>
          </li>
          <li class="language-item" [class.active]="selectedLang === 'en'">
              <a [ngClass]="{'colored': selectedLang === 'en'}"><span class="" [ngClass]="{'white': selectedLang === 'en'}" (click)="switchLang('en')">EN</span></a>
          </li>
        </ul>
    </div>		
  </div>
  <div class="first-nav">
    <div class="bottom-line">
        <div class="bottom-content">
          <div class="logo">
            <a href="#">
              <img src="../../../../assets/logos/Dossin SVG.svg" />
            </a>
          </div>
          <a class="toggle-button" (click)="toggleSideMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <div class="menu-container">
            <ul class="menu-list">
              <li class="menu-item">
                <a class="menu-link" href="/servicios">{{'navbar-servicios'|translate}}</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/industrias">{{'navbar-industrias'|translate}}</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/viajes">{{'navbar-viajes'|translate}}</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/nosotros">{{'navbar-nosotros'|translate}}</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/contacto">{{'navbar-contacto'|translate}}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="side-menu" [ngClass]="{'active': isSideMenuVisible}">
    <ul class="toggle-list">
      <li class="toggle-item">
        <a class="toggle-link" href="/servicios">{{'navbar-servicios'|translate}}</a>
      </li>
      <li class="toggle-item">
        <a class="toggle-link" href="/industrias">{{'navbar-industrias'|translate}}</a>
      </li>
      <li class="toggle-item">
        <a class="toggle-link" href="/viajes">{{'navbar-viajes'|translate}}</a>
      </li>
      <li class="toggle-item">
        <a class="toggle-link" href="/nosotros">{{'navbar-nosotros'|translate}}</a>
      </li>
      <li class="toggle-item">
        <a class="toggle-link" href="/contacto">{{'navbar-contacto'|translate}}</a>
      </li>
    </ul>
  </div>
</div>
  