input, textarea{
    font-family: 'Poppins', sans-serif;;
}

.container{
    width: 100%;
    margin: 8vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    padding: 20px;
}

.intro-text {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    //background-color: #e6e6e6;
    border-radius: 12px;
    padding: 1rem;
}
.intro-text h2{
    font-size: 1.3rem;
    color: var(--primary-color);
    width: 80%;
    margin: 2rem auto;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    width: 50%;
    border-radius: 12px;
}

.qr-title {
    width: 100%;
    height: 30%;
    margin: 1rem auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-title h2 {
    color: var(--primary-color);
    width: 80%;
}

.qr {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 1rem auto;
}

.qr img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.forms-wrapper {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.form-title {
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.form-title h2{
    font-size: 1.3rem;
    color: var(--primary-color);
    width: 80%;
}
.message{
    width: 60%;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 80%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.first-part{
    width: 100%;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: baseline;
    width: 50%;
    margin: 10px;
    width: 100%;
}
.input-form input{
    height: 30px;
    width: 90%;
    margin-top:20px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--primary-color)
}
input:focus {
  outline: 1px dotted #000
}
    

span{
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 20px;
}

.boton-enviar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--primary-color);
    margin-bottom: 40px;
    color: #fff;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
    margin-top: 1.25rem;
}

.btn:hover {
    background-color: #3475ca;
    animation: pulse 0.5s ease-in-out both;
    cursor: pointer;
}
.text-warning {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #ff0400;
}

.input-form.warning .span-text {
    color: #ff0400;
}
.input-form.warning .text-warning {
    display: block;
}
.input-form.warning input{
    border-color: #ff0400;
}

//------------------------------------------------------------------
.secondary-form {
    .input-form {
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.form-selectors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .span-text {
        margin-right: 10px;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px 0;
    }

    label {
        margin-right: 5px;
    }
    input {
        margin-top: 0;
    }
    
}

.input-file {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="file"]{
    display: none;
}
.input-file .archivo-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.input-file label .archivo-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
    height: auto; 
}
.input-file label .archivo-label-button{
    width: 280px;
    max-width: 80%;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0.5rem;
}
.input-file label .archivo-label-texto {
    text-align: center;
    overflow: hidden;
    font-size: 1rem;
    white-space: normal;
    max-width: 100%; 
    margin-top: 0.75rem;
}
.input-file.warning {
    label .archivo-label-button{
        background-color: #ff0400;
    }
    .archivo-label-texto {
    color: #ff0400;
    }
    .text-warning {
        display: block;
    }
}

//------------------------------------------------------------------

@media screen and (max-width: 1024px) {
    .first-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input-form {
        width: 90%;
    }
    .input-form input{
        width: 100%;
    }
    .input-form-message{
        align-items: baseline;
    }
}

@media screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }

    .form-container,
    .qr-container {
        width: 100%;
    }
    .form-container{
        margin-top: 100px;
        padding: 0;
    }
}